
*{
    margin: 0%;
}
body{
    background: url(../img/fondo_formulario3.jpg); 
}
.container_complete{
    
    margin: auto;
    background-color: rgba(240, 248, 255, 0.843);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
#group_input{
    display: flex;
    justify-content: center;
   
    flex-direction: column; 
}
.labels label{
    display: flex;
    justify-content: center;
}
#f_terminos{
    display: flex;
}
.container_complete h1{
    margin-top: 3%;
    font-size: 280%;
    margin-bottom: 3%;
}
.container_complete label{
    font-size: 140%;
}
#group_input input{
  width: 91%;
  height: 1.7em;
   
}
.btn-enviar{
    font-size: 110%;
    width: 30%;
    height: 3em;
    background-color: antiquewhite;
    border: 1px solid ;
    border-radius: 5%;
    margin-bottom: 3%;
}
.container_complete a{
    font-size: 150%;
    text-decoration: none;
    color: black;
    height: 1em;
}
#terminos{
 margin: 7%;
}
.container_complete select{
    width: 100%;
    height: 3em;  
}
.fecNa{ 
    margin-bottom: 5%;  
}
/**/
.msg_error{
    color: #f50000;
    visibility: hidden;
    opacity: 0;
    font-size: 95%;
    margin-bottom: 2%;
}

.msg_error_visible{
    visibility: visible;
    opacity: 1;
}

/*iconos*/
.group_input{
    position: relative;
}
.frm-icon{
    position: absolute;
    z-index: 100;
    font-size: 16px;
}

/*Validacion de iconos*/
.success .frm-icono{
    color: lime;
    opacity: 1;
}

.error .frm-icono{
    color: red;
    opacity: 1;
}

/*Estilos de formulario no enviado por errores*/
.frm-no-enviado{
    background: red;
    padding: 15px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
}
.frm-no-enviado-activo{
    visibility: visible;
    opacity: 1;
}


/*modal terminos*/
.moda{
    position: fixed;
    
    opacity: 0;
    pointer-events: none
}

.moda_show{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.561);
    display: flex;
    opacity: 1;
    pointer-events: unset;
}
.modal_cotainer{
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    padding: 3em 2.5em;
    margin: auto;
    display: grid;
    gap: 1em;
    
}.modal_cotainer h1{
    font-size: 280%;
    display: flex;
    justify-content: center;
}
.modal_cotainer p{
    font-size: 170%;
}
#close{
    font-size: 150%;
    display: flex;
    justify-content: end;
    color: red;
    margin-left: 105%;
    margin-top: -7%; 
}

@media screen and (min-width: 721px) and (max-width: 1024px)  {
.container_complete{
    width: 70%;
}
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .container_complete{
        width: 100%;
    }
    .container_complete h1{
        font-size: 250%;
    }     
}

@media screen and (min-width: 501px) and (max-width: 720px) {
    .container_complete{
        width: 80%;
    }   
}